@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    font-family: "Red Hat Display", sans-serif;
}
html{
    padding: 0;
    margin: 0;
}
.attribution{
    margin: 0;
    padding:0;
}
.desktop{
    width: 90rem;
    height:56.25rem ;
    background: hsl(225, 100%, 98%);
    background-image: url("./images/pattern-background-desktop.svg");
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 10px;
    padding:auto;
}  
